Package: firewalld
Pin: release a=buster-backports
Pin-Priority: 1000

Package: python3-nftables
Pin: release a=buster-backports
Pin-Priority: 1000

Package: libnftables1
Pin: release a=buster-backports
Pin-Priority: 1000

Package: libnftnl11
Pin: release a=buster-backports
Pin-Priority: 1000

Package: iptables
Pin: release a=buster-backports
Pin-Priority: 1000

Package: libxtables12
Pin: release a=buster-backports
Pin-Priority: 1000

Package: netbase
Pin: release a=buster-backports
Pin-Priority: 1000
