server:
    hide-identity: yes
    hide-version: yes
    minimal-responses: yes
    prefetch: yes
    prefetch-key: yes
    rrset-roundrobin: yes
    use-caps-for-id: yes
    ssl-upstream: yes
    tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

forward-zone:
    name: "."
    forward-ssl-upstream: yes
    forward-addr: 2606:4700:4700::1111@853#cloudflare-dns.com
    forward-addr: 1.1.1.1@853#cloudflare-dns.com
    forward-addr: 2606:4700:4700::1001@853#cloudflare-dns.com
    forward-addr: 1.0.0.1@853#cloudflare-dns.com
